@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    El objetivo del proyecto es mejorar la gestión de la empresa de soluciones logísticas PortLog, dado que el sistema que utilizan actualmente no cubre las nuevas necesidades surgidas del crecimiento de su operativa.
</p>
<p>
    La empresa brinda a sus clientes el almacenaje y soporte a los procesos de exportación e importación de mercadería.
</p>
<p>
    La operativa básica consiste en recibir la mercadería luego de que pasó por la ANP, almacenarla en sus depósitos y embarcarla al destino final indicado por el cliente.
</p>
<p>
    La empresa almacena temporalmente los productos, de los que se conoce un código, su nombre, el peso por unidad y el RUT del cliente que lo importa (un número único de 12 dígitos). Estos productos ya están registrados en la base de datos.
</p>
<p>
    Cuando ingresa una importación se deberá registrar la fecha de ingreso real y la de salida prevista, cuál es el producto importado, la cantidad de unidades y el precio unitario. Cada importación es para un único producto.
</p>

