@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Obligatorio P3</h1>
    <p class="lead">Inicie sesion para continuar a la aplicacion.</p>
    <p>@Html.ActionLink("Iniciar Sesion", "Login", "Usuario") &raquo;</p>
</div>

